# untracked, but still ignored things
wip
GENERATED

# Tracked in .mono.yaml
dotfiles
impulse
scrapers
paste_service
rules
cppargs
eu4_hacks
chrome_archive_service
remarkable
nginx
hatsuden
scrapers/cs
scrapers/jdb
xpp
googletest
scrapers/msdocs
api_core
iwgui
tint4
getmyancestors
dashe
nginx_docker_bridge
savescum
scrapers/upc
xpp_inherit
